* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

.main-box {
  font-size: 1.6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
  padding: 10rem;
  width: 100%;
  min-height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #efffff;
}
.main-box form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.main-box form .autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  z-index: 1005;
}
.main-box form .autocomplete input[type=text],
.main-box form .autocomplete select {
  width: 100%;
  padding: 12px 20px;
  margin: 0 0 2rem 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}
.main-box form .autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.main-box form .autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.main-box form .autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.main-box form .autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
.main-box .output {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 2rem;
  gap: 2rem;
  opacity: 0;
  /* The Modal (background) */
}
.main-box .output .error {
  text-align: center;
  width: 100%;
  display: none;
}
.main-box .output .country-card {
  width: 35rem;
  width: 21%;
  min-height: 54rem;
  background-color: white;
  box-shadow: 0 1px 3px 1px grey;
  border-radius: 0.3rem;
}
.main-box .output .country-card .flag {
  width: 100%;
  height: 18rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-box .output .country-card .flag img {
  width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-box .output .country-card .description-box {
  padding: 3rem 3rem 4rem 3rem;
}
.main-box .output .country-card .description-box div span {
  font-weight: 700;
  color: #333;
}
.main-box .output .country-card .description-box div:not(:nth-child(-n+2)) {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
  margin-top: 2rem;
}
.main-box .output .country-card .description-box .name {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
}
.main-box .output .country-card .description-box .name-official {
  font-style: italic;
  min-height: 4.2rem;
}
.main-box .output .weather-card {
  width: 35rem;
  width: 21%;
  min-height: 54rem;
  background-color: white;
  box-shadow: 0 1px 3px 1px grey;
  border-radius: 0.3rem;
  order: 2;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-box .output .weather-card .icon {
  width: 5rem;
  height: 18rem;
  font-size: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-box .output .weather-card .icon img {
  width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-box .output .weather-card .description-box {
  height: 36rem;
  padding: 3rem 3rem 6rem 3rem;
}
.main-box .output .weather-card .description-box .weather {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  padding-bottom: 4.2rem;
}
.main-box .output .weather-card .description-box div span {
  font-weight: 700;
  color: #333;
}
.main-box .output .weather-card .description-box div:not(:first-child) {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
  margin-top: 2rem;
}
.main-box .output .map-wrapper {
  opacity: 0;
  min-height: 54rem;
  width: 55%;
  border-radius: 0.3rem;
  box-shadow: 0 1px 3px 1px grey;
  order: 3;
  position: relative;
}
.main-box .output .map-wrapper .toggle-map {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 1000;
  border-radius: 20px;
  background-color: white;
  height: 3rem;
  cursor: pointer;
}
.main-box .output .map-wrapper .toggle-map i {
  margin-top: -5px;
  font-size: 4rem;
}
.main-box .output .map-wrapper .map {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.main-box .output .map-wrapper .map .leaflet-popup-content-wrapper {
  background-color: #333;
}
.main-box .output .map-wrapper .map .leaflet-popup-content-wrapper .leaflet-popup-content {
  text-align: center;
  font-size: 1.4rem;
  color: #ddd;
}
.main-box .output .map-wrapper .map .leaflet-popup-tip-container .leaflet-popup-tip {
  background: #333;
}
.main-box .output .photos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  row-gap: 2rem;
  order: 4;
}
.main-box .output .photos__single {
  height: 300px;
  cursor: pointer;
  position: relative;
  flex-grow: 1;
}
.main-box .output .photos__single img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 5px;
}
.main-box .output .modal {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #333;
  scroll-behavior: smooth;
  /* The Close Button */
  /* Modal Content */
}
.main-box .output .modal::-webkit-scrollbar {
  display: none;
}
.main-box .output .modal .close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  z-index: 1003;
}
.main-box .output .modal .close:hover,
.main-box .output .modal .close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
.main-box .output .modal .modal-content {
  position: relative;
  background-color: #000;
  margin: auto;
  padding-top: 10rem;
  max-width: 1200px;
  /* Hide the slides by default */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* Number text (1/3 etc) */
  /* Caption text */
}
.main-box .output .modal .modal-content .photo-single--modal {
  display: none;
  width: 100%;
  height: 50rem;
  background-color: #000;
}
.main-box .output .modal .modal-content .photo-single--modal img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-box .output .modal .modal-content .prev,
.main-box .output .modal .modal-content .next {
  cursor: pointer;
  position: absolute;
  top: 35rem;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 0.8);
}
.main-box .output .modal .modal-content .prev:hover,
.main-box .output .modal .modal-content .next:hover {
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);
}
.main-box .output .modal .modal-content .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.main-box .output .modal .modal-content .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.main-box .output .modal .modal-content .caption-container {
  text-align: center;
  background-color: black;
  margin: 2rem 0;
  color: white;
  height: 10rem;
  overflow-y: auto;
}
.main-box .output .modal .modal-content .caption-container::-webkit-scrollbar-track {
  background-color: rgb(63, 63, 63);
}
.main-box .output .modal .modal-content .caption-container #caption {
  padding: 0 5rem;
  overflow-y: hidden;
}
.main-box .output .modal .modal-content .thumbnails {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #333;
}
.main-box .output .modal .modal-content .thumbnails .thumbnail {
  width: 25%;
  height: 200px;
  cursor: pointer;
  position: relative;
}
.main-box .output .modal .modal-content .thumbnails .thumbnail img {
  opacity: 0.8;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.main-box .output .modal .modal-content .thumbnails .thumbnail img:hover {
  opacity: 1;
}

@media (max-width: 1600px) {
  .main-box {
    padding: 10rem 5rem;
  }
  .output .map-wrapper {
    width: 54% !important;
  }
}
@media (max-width: 1200px) {
  .main-box {
    padding: 10rem 15rem;
  }
  .output .map-wrapper {
    width: 100% !important;
  }
  .output .country-card {
    width: 48% !important;
  }
  .output .weather-card {
    width: 48% !important;
  }
}
@media (max-width: 900px) {
  .main-box {
    padding: 10rem 5rem;
  }
  .photo-single--modal {
    height: 40rem !important;
  }
  .prev,
.next {
    top: 33rem !important;
    padding: 0.8rem !important;
  }
  .thumbnail {
    width: 33.3333% !important;
    height: 15rem !important;
  }
  #caption {
    font-size: 1.2rem;
  }
}
@media (max-width: 650px) {
  .main-box {
    padding: 10rem 10rem;
  }
  .output .photo-single--modal {
    height: 30rem !important;
  }
  .output .prev,
.output .next {
    top: 28rem !important;
    padding: 0.8rem !important;
  }
  .output .country-card {
    width: 100% !important;
  }
  .output .weather-card {
    width: 100% !important;
  }
}
@media (max-width: 525px) {
  .main-box {
    padding: 10rem 2rem;
  }
}/*# sourceMappingURL=style.css.map */